[submodule "vendor/jquery-mutation-summary"]
	path = vendor/jquery-mutation-summary
	url = git://github.com/joelpurra/jquery-mutation-summary.git
[submodule "vendor/mutation-summary"]
	path = vendor/mutation-summary
	url = https://code.google.com/p/mutation-summary/
[submodule "vendor/jquery-dat-gui"]
	path = vendor/jquery-dat-gui
	url = git://github.com/Laurian/jquery-dat-gui.git
[submodule "vendor/dat-gui"]
	path = vendor/dat-gui
	url = git://github.com/Laurian/dat-gui.git
[submodule "vendor/Sprite3D.js"]
	path = vendor/Sprite3D.js
	url = git://github.com/boblemarin/Sprite3D.js.git
[submodule "vendor/photon"]
	path = vendor/photon
	url = git://github.com/thomasxiii/photon.git
[submodule "vendor/popcorn-js"]
	path = vendor/popcorn-js
	url = git://github.com/mozilla/popcorn-js.git
[submodule "vendor/normalize.css"]
	path = vendor/normalize.css
	url = git://github.com/necolas/normalize.css.git
[submodule "vendor/less.js"]
	path = vendor/less.js
	url = git://github.com/cloudhead/less.js.git
[submodule "vendor/cleanslate"]
	path = vendor/cleanslate
	url = git://github.com/premasagar/cleanslate.git
[submodule "vendor/Modernizr"]
	path = vendor/Modernizr
	url = git://github.com/Modernizr/Modernizr.git
[submodule "vendor/animate.css"]
	path = vendor/animate.css
	url = git://github.com/daneden/animate.css.git
[submodule "vendor/CodeMirror2"]
	path = vendor/CodeMirror2
	url = git://github.com/marijnh/CodeMirror2.git
[submodule "vendor/jQuery-Css3-Finalize"]
	path = vendor/jQuery-Css3-Finalize
	url = git://github.com/codler/jQuery-Css3-Finalize.git
